
.main-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url("/assets/images/background-blog.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .article-item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10em;

    .pill {
      border-radius: 20px;
      background-color: $brand-blue;
      font-weight: 500;
      color: $brand-white;
      font-size: 0.8em;
      padding: 0.2em 1.3em;
    }

    .post-title {
      font-size: 2em;
      margin: 0.5em 0;
      font-weight: 700;
      text-transform: uppercase;
    }

    .post-text {
      text-align: left;
      padding: 2em 0;

      p {
        color: $brand-black;
      }
    }
    .post-image {
      width: 100%;
    }
  }
  img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;    
    transition: 1s;
    padding: 2em;
  }

  img:hover {
    transition: 1s;
    filter: grayscale(0%);
    opacity: 1;
  }
}