.main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/images/background-contact.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  background-attachment: fixed;

  .title-contact {
    font-size: 2em;
    margin: 0.5em 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    padding: 0 2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a {
      color: $brand-black;
      text-decoration: none;
      margin: 0 1em;
    }
  }
}
