
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/images/background.svg");
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  
  img {
    padding: 0 2em;
    width: 100%;
    height: 100%;
  }
}


