
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/images/background.svg");
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  
  img {
    padding: 0 2em;
    width: 100%;
    height: 100%;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    padding: 0 2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a {
      color: $brand-black;
      text-decoration: none;
      margin: 0 1em;
    }
  }
}




