
.top-section {
  background-color: transparent;

  .nav-container {
    display: flex;
    padding: 1em;
    background-color: transparent;
  }

  .btn {
    display: flex !important;
    justify-content: end !important;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 50px;
    }
  }

  .btn-menu {
    border: none;
    background-color: transparent;
    justify-content: end;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bolder;
    color: $brand-white;
    padding-top: 1.5em;
    text-align: end;
  }

  .nav-link:hover {
    color: $brand-white;
  }

  .offcanvas {
    padding: 1em;
    background-color: $brand-green-75;
    backdrop-filter: blur(9px);
    background-clip: unset;
  }
}
