// brand colors
$brand-purple: #8562A2;
$brand-blue: #012F7F;
$brand-green: #5C8730;
$brand-black: #262626;
$brand-white: #F0F1EA;

// brand colors opacity

// purple
$brand-purple-75: rgba(133, 98, 162, 0.75); // 75%
$brand-purple-50: rgba(133, 98, 162, 0.5); // 50%
$brand-purple-25: rgba(133, 98, 162, 0.25); // 25%

// blue
$brand-blue-75: rgba(1, 47, 127, 0.75); // 75%
$brand-blue-50: rgba(1, 47, 127, 0.5); // 50%
$brand-blue-25: rgba(1, 47, 127, 0.25); // 25%

// green
$brand-green-75: rgba(92, 135, 48, 0.75); // 75%
$brand-green-50: rgba(92, 135, 48, 0.5); // 50%
$brand-green-25: rgba(92, 135, 48, 0.25); // 25%

// black
$brand-black-75: rgba(38, 38, 38, 0.75); // 75%
$brand-black-50: rgba(38, 38, 38, 0.5); // 50%
$brand-black-25: rgba(38, 38, 38, 0.25); // 25%

// white
$brand-white-75: rgba(240, 241, 234, 0.75); // 75%
$brand-white-50: rgba(240, 241, 234, 0.5); // 50%
$brand-white-25: rgba(240, 241, 234, 0.25); // 25%